{% extends 'base.html' %}

{% block page_content %}

    <div class = "pagestart" style="margin: 20px 10px 10px 20px">

        <h1>Districts: -</h1>
        {% for district in districts %}
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ district.district }}</h5>
                    <p class="card-text">{{ district.zone }} Zone</p>
                    <a href="{% url 'district_detail' district.pk %}"
                        class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    
    </div>
{% endblock page_content %}