{% extends 'base.html' %}
{% load static %}
{% block districts_active %}
active
{% endblock districts_active %}

{% block title%} - {{ district.district }} {% endblock title %}%

{% block page_content %}
    <script src="{% static 'config.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'district_detail.js' %}"></script>
    <div class = "pagestart" style="margin: 20px 10px 10px 20px">
        <h1><b>{{district.district}}</b></h1>
        <hr>
        <table class="container" style="margin-bottom:40px; margin-top:40px;">
	        <thead>
		        <tr>
			        <th style="color: rgb(255, 32, 32)">Confirmed</th>
			        <th style="color: rgb(46, 186, 252)">Active</th>
			        <th style="color: rgb(6, 177, 6)">Recovered</th>
			        <th style="color: black">Deceased</th>
		        </tr>
            </thead>
            <tbody>
                <tr>
			        <td style="color: rgb(255, 32, 32)">351</td>
			        <td style="color: rgb(46, 186, 252)">175</td>
			        <td style="color: rgb(6, 177, 6)">164</td>
			        <td style="color: black">10</td>
		        </tr>
	        </tbody>
        </table>

        <h2>Map</h2>
        <center>
        <iframe width="600" id="mapframe" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
        
        <br>
        <br>
        <a href= {% url 'surveillance_index' %}><button type="button" class="btn btn-info btn-lg">Face Mask Analysis</button></a>
        <a href= {% url 'social_distancing_index' %}><button type="button" class="btn btn-warning btn-lg">Social Distancing Analysis</button></a>
        </center>
    </div>

    <style>
    * {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

tr {
  cursor: pointer;
}

th {
  color: #ffffff;
}


.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
   display: table;
    padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
    padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover:nth-child(2) {
  color: rgb(255, 32, 32);
}
.container td:hover:nth-child(3) {
  color: rgb(46, 186, 252);
}
.container td:hover:nth-child(4) {
  color: rgb(6, 177, 6);
}
.container td:hover:nth-child(5) {
  color: rgb(0, 0, 0);
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
    </style>
    <script src="{% static 'map_render.js' %}"></script>
    <br>
    
{% endblock page_content %} 