{% extends 'base.html' %}

{% block districts_active %}
active
{% endblock districts_active %}

{% block page_content %}

    <div class = "pagestart" style="margin: 20px 10px 10px 20px">
        <br>
        <div class="row">
        <div class="col-md-4"><h1><b>Districts</b></h1></div>
        <div class="col-md-4 offset-md-4">
            Last Updated: {{ districts.0.lastupdated }}
            <a href={%url 'district_index_refresh'%}><button type="button" class="btn btn-primary">Refresh</button></a>
        </div>
        </div>
        
        <br>
        <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2 myInput" onkeyup="searchFunction()"  type="text" placeholder="Type to Search" aria-label="Search">
        </form>

        <br>
        <div class="row">
            {% for district in districts %}
                <div class="col-md-4 district-card">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ district.district }}</h5>
                            <p class="card-text">{{ district.zone }} Zone 
                            <br>
                            <a href="{% url 'state_detail' district.state %}">{{ district.state }}</a>
                            </p>
                            <a href="{% url 'district_detail_with_state' district.pk district.state%}" class="btn btn-primary">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script>
            function searchFunction(){
                var cards = document.querySelectorAll(".district-card");
                var input = document.querySelector('.myInput');
                var filter = input.value.toUpperCase();
                cards.forEach(hideCards);
                function hideCards(value, index, array)
                {
                    if(value.childNodes[1].childNodes[1].childNodes[1].textContent.toUpperCase().indexOf(filter) > -1)
                        value.style.display = "";
                    else
                        value.style.display = "none";
                }
            }
            
            
        </script>
    
    </div>
{% endblock page_content %}