.mapdiv {
  text-align : center;
  margin : auto;
  max-width : 100%;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.main {
    font-family:'Product Sans';
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
}

.mapdiv path {
  fill : #7823a8;
  stroke : #ffffff;
  stroke-width : 1.5px;
  transition : fill 0.2s;
}

.mapdiv :hover {
  fill : #000000 ;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

tr {
  cursor: pointer;
}

th {
  color: #ffffff;
}

body {
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1,h3 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
   display: table;
    padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
    padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover:nth-child(2) {
  color: rgb(255, 32, 32);
}
.container td:hover:nth-child(3) {
  color: rgb(46, 186, 252);
}
.container td:hover:nth-child(4) {
  color: rgb(6, 177, 6);
}
.container td:hover:nth-child(5) {
  color: rgb(0, 0, 0);
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}