{% extends 'base.html' %}

{% load static %}
{% block page_content %}
        
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <main>
        <div class="container pt-2">
            <header class="header">
                <h1 class="title">Surveillance Stats</h1>
            </header>

            <div class="loader-wrapper">
                <div class="loader"></div>

                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>

                <div class="loading">
                    <h2>Loading....</h2>
                </div>
            </div>

            <table class="table table-bordered table-dark">

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td colspan="2"><strong>Faces Detected: </strong></td>
                        <td><span id="faceCount">-</span></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td colspan="2"><strong>Mask Count: </strong></td>
                        <td><span id="maskCount">-</span></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2"><strong>Ratio: </strong></td>
                        <td><span id="ratio">-</span></td>
                    </tr>
                    <tr>
                        <th>Average stats of every: 30 Frames</th>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td colspan="2"><strong>Total Faces detected: </strong></td>
                        <td><span id="totalFaceCount">-</span></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td colspan="2"><strong>Total Masks detected: </strong></td>
                        <td><span id="totalMaskCount">-</span></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2"><strong>Total Ratio: </strong></td>
                        <td><span id="totalRatio">-</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script type="text/javascript">

        // DOM Strings go here
        const DOMStrings = {
            "mask": "maskCount",
            "face": "faceCount",
            "totalFaceCount": "totalFaceCount",
            "totalMaskCount": "totalMaskCount",
            "totalRatio" : "totalRatio",
            "ratio": "ratio",
            "videoSource": "videoSrc",
        };

        const url = "http://127.0.0.1:8000/surveillance/data";
        if (typeof(EventSource) !== 'undefined') {
            // Create a new Event Source to make a SSE request
            const source = new EventSource(url);

            // DOM Elements
            faceCountDisplay = document.getElementById(DOMStrings.face);
            maskCountDisplay = document.getElementById(DOMStrings.mask);
            ratioDisplay = document.getElementById(DOMStrings.ratio);

            totalFaceCountDisplay = document.getElementById(DOMStrings.totalFaceCount);
            totalMaskCountDisplay = document.getElementById(DOMStrings.totalMaskCount);
            totalRatioDisplay = document.getElementById(DOMStrings.totalRatio);

            videoSrc = document.getElementById(DOMStrings.videoSource);
            title = document.querySelector(".header .title");
            main = document.querySelector("main");

            // Variables
            let counter = 0, totalFaceCount = 0, totalMaskCount = 0, totalRatio = '-';
            source.onmessage = (event) => {
                // Get data from server and parse as JSON
                const data = JSON.parse(event.data);

                faceCountDisplay.innerHTML = data.face_count;
                maskCountDisplay.innerHTML = data.mask_count;
                ratioDisplay.innerHTML = (data.ratio * 100).toFixed(1);

                // Find Total Stats for duration of 30 frames
                if (counter < 30) {
                    totalFaceCount += data.face_count;
                    totalMaskCount += data.mask_count;
                    if (totalFaceCount > 0) {
                        totalRatio = (totalMaskCount / totalFaceCount * 100).toFixed(1);
                    } else {
                        totalRatio = '-';
                    }

                    counter++;
                } else {
                    // display the total counts
                    totalFaceCountDisplay.innerHTML = totalFaceCount;
                    totalMaskCountDisplay.innerHTML = totalMaskCount;
                    totalRatioDisplay.innerHTML = totalRatio;

                    // Reset for the next 30 frames
                    totalMaskCount = 0;
                    totalFaceCount = 0;
                    totalRatio = '-';
                    counter = 0;
                }

                // Hide the loading screen and set the display of title.
                main.classList.add("loaded");
                title.classList.add("title-loaded");
            }
            source.onopen = (event) => {
                console.log("Opened a SSE");
                console.log(event);
            }
            source.onerror = (event) => {
                console.log("[ERR] Error maintaining connection with SSE");
                console.log(event);
                console.log("Closing connection");
                source.close();
            }
        }

    </script>

{% endblock page_content %}