{% extends 'base.html' %}

{% load static %}
{% block page_content %}

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    <main>
        <div class="container pt-2">
            <header class="header">
                <h1 class="title">Surveillance Stats</h1>
            </header>

            <!-- <video width="1110" height="700" controls muted="muted">
                <source src="{% static 'footages/cottonbro_2.mp4' %}" type="video/mp4">
                Your Browser ins't supported
            </video> -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Video Stream
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">District 1 Camera 1</a>
                    <a class="dropdown-item" href="#">District 2 Camera 3</a>
                    <a class="dropdown-item" href="#">District 4 Camera 1</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Default Stream</a>
                </div>
            </div>
            <br>    

            <div class="stream">
                <img width="1100" src="#" alt="Surveillance Footage">
            </div>

            <div class="loader-wrapper">
                <div class="loader"></div>

                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>

                <div class="loading">
                    <h2>Loading....</h2>
                </div>
            </div>

            <table class="table table-hover table-dark">
                <tbody>
                    <thead style="width: 100%; text-align: center;" class="thead-dark">
                        <th colspan="3">REAL TIME DATA</th>                        
                    </thead>
                    <tr>
                        <th style="width: 10%;" scope="row">1</th>
                        <td style="width: 75%;"><strong>Faces Detected: </strong></td>
                        <td style="width: 15%;"><span id="faceCount">-</span></td>
                    </tr>
                    <tr>
                        <th style="width: 10%;" scope="row">2</th>
                        <td style="width: 75%;"><strong>Mask Count: </strong></td>
                        <td style="width: 15%;"><span id="maskCount">-</span></td>
                    </tr>
                    <tr>
                        <th style="width: 10%;" scope="row">3</th>
                        <td style="width: 75%;"><strong>Ratio: </strong></td>
                        <td style="width: 15%;"><span id="ratio">-</span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-dark">
                <tbody>
                    <thead style="width: 100%; text-align: center;" class="thead-dark">
                        <th colspan="3">AVERAGE STATS OF EVERY: 30 FRAMES</th>
                    </thead>
                    <tr>
                        <th style="width: 10%;" scope="row">1</th>
                        <td style="width: 75%;"><strong>Total Faces detected: </strong></td>
                        <td style="width: 15%;"><span id="totalFaceCount">-</span></td>
                    </tr>
                    <tr>
                        <th style="width: 10%;" scope="row">2</th>
                        <td style="width: 75%;"><strong>Total Masks detected: </strong></td>
                        <td style="width: 15%;"><span id="totalMaskCount">-</span></td>
                    </tr>
                    <tr>
                        <th style="width: 10%;" scope="row">3</th>
                        <td style="width: 75%;"><strong>Total Ratio: </strong></td>
                        <td style="width: 15%;"><span id="totalRatio">-</span></td>
                    </tr>
                </tbody>
            </table>

           <!--  <a href="{% url 'surveillance_index_data' %}" style="margin:10px;"><button type="button" class="btn btn-secondary">Surveillance Data (JSON)</button></a> -->

        </div>
    </main>

    <script type="text/javascript" src="{% static 'scripts/surveillance_stats.js' %}"></script>

{% endblock page_content %}
